/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

.idea
.project
*~

/node_modules
/nbproject/
/web/uploads
/web/admin
/web/bundles
/web/assets-built

/frontend/vendor
/frontend/css
/frontend/img-generated
/frontend/compiled
/.sass-cache
/web/assets/css

/app/data
/web/js
/web/css
/web/fonts
/web/frontend
/.tmp

/admin/build
/admin/interface/.sencha_backup

