/phpunit.xml
*~
composer.lock
/vendor/
/bin
/Tests/app/config/parameters.yml
.idea
cache
logs
.project
/node_modules
/vendor/
/nbproject/
/app/cache/*
/app/logs/*
/.project
/web/uploads
/web/admin
/web/bundles

/web/assets-built
/node_modules
/frontend/vendor
/frontend/css
/frontend/img-generated
/frontend/compiled
/.sass-cache
/web/assets/css
!web/assets/css/README.txt

/app/data
/web/js
/web/css
/web/fonts
/web/frontend
/.tmp

/admin/build
/admin/interface/.sencha_backup

